.float-right { float: right; }
.text-14-normal { font-size: 14px; font-weight: normal; }
.text-normal { font-weight: normal; }
.padding-5 { padding: 5px; }
.padding-left-15 { padding-left: 15px; }
.font-18 { font-size: 18px; }
.bold { font-weight: bold; }
.green { color: green; }